@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight|Courier+Prime&display=swap');

h1 {

font-family: 'Zilla Slab', cursive;
font-size: 70px;
background-color: black;
color:white;
font-weight:300;
}

p {
	font-family: 'Courier Prime', monospace;
}

p.menu {
	line-height: 1.8
}

a:link:hover {
  background-color: black;
  color:white;
  text-decoration:none;
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited:hover {
  background-color: black;
  color:white;
  text-decoration:none;
}

a:visited {
	color:black;
	text-decoration:none;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
