@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Zilla+Slab+Highlight|Courier+Prime&display=swap');

h1 {

font-family: 'Zilla Slab', cursive;
font-size: 70px;
background-color: black;
color:white;
font-weight:300;
text-align:center;
}

h2 {
	font-family: 'Courier Prime', monospace;
	font-weight:bold;
}	

p {
	font-family: 'Courier Prime', monospace;
}

p.menu {
	line-height: 1.8
}


p.navi {
	text-align:center;

		padding-bottom:5vh;
}

p.footer {
	font-size: 10px;
	text-align:center;
}

p.list {
	line-height: 1.5
}

a:link:hover {
  background-color: black;
  color:white;
  text-decoration:none;
}

a:link {
	text-decoration:none;
	color:black;
}

a:visited:hover {
  background-color: black;
  color:white;
  text-decoration:none;
}

a:visited {
	color:black;
	text-decoration:none;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
margin: 0;
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -99%);
}
